# MX Server
VITE_TAILNUMBERS='tv-01 tv-02 tv-05 tv-06' # Space delimited
VITE_WS_MX_URI=192.168.0.89
VITE_WS_MX_PORT=8888
VITE_WS_MX_PATH='/mx-dashboard'
VITE_WS_MX_CONTROL_PATH='/mx-controller'
VITE_WS_MX_SORTIE_PATH='/mx-sortie-state'

# MSN Server
VITE_SHOPS='bcd gccs iamd intel freq wx' # Space delimited
VITE_WS_MSN_URI=192.168.0.89
VITE_WS_MSN_PORT=8889
VITE_WS_MSN_PATH='/msn-dashboard'
VITE_WS_MSN_CONTROL_PATH='/msn-controller'
